@import "tailwindcss";

body {
  background: #ffffff;
  color: #000000;
  font-family: "Nunito Sans", sans-serif;
}

/* Custom Swiper Styles */
.developer-carousel .swiper-pagination-bullet {
  background-color: #0FACAC;
  opacity: 0.3;
  width: 12px;
  height: 12px;
}

.developer-carousel .swiper-pagination-bullet-active {
  opacity: 1;
  background-color: #0FACAC;
}

.swiper-pagination-custom .swiper-pagination-bullet {
  background-color: #0FACAC;
  opacity: 0.3;
  width: 12px;
  height: 12px;
  margin: 0 4px;
  border-radius: 50%;
  cursor: pointer;
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
  opacity: 1;
}
